<div class="tab flexrow" data-group="primary" data-tab="orders">
    <section class="orders">
        <header class="header-field">
            <span>{{localize "CS.sheets.unit.tabs.orders"}}</span>
        </header>
    </section>
</div>
