<form class="{{cssClass}}" autocomplete="off">
    {{!-- Item Sheet Header --}} {{>
"systems/chroniclesystem/templates/items/partials/header-delete.hbs"}}
    <main class="sheet-body">
        <section class="description">
            {{> "systems/chroniclesystem/templates/items/partials/description.hbs"}}
        </section>
    </main>
</form>
