<form class="{{cssClass}} flexcol" autocomplete="off">
    {{!-- Item Sheet Header --}} {{>
    "systems/chroniclesystem/templates/items/partials/header-delete.hbs"}}
    <main class="sheet-body flexrow">
        <section class="item-stats">
            <header class="header-field">
                <span>{{localize "CS.sheets.generalLabels.details"}}</span>
            </header>
            <div class="form-group">
                <label for="system.disposition">{{localize "CS.sheets.character.relationships.disposition"}}  </label>
                <span class="form-fields">
                    <select name="system.disposition">
                        {{selectOptions dispositionChoices selected=item.system.disposition localize=true}}
                    </select>
                </span>
            </div>
        </section>
        <section class="description">
            {{> "systems/chroniclesystem/templates/items/partials/description.hbs"}}
        </section>
    </main>
</form>
